## Strings

A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”).

strings are used for representing textual data.

The Python language provides various built-in methods and functionalities to work with strings efficiently.

In [4]:
str = 'python'
print(str)
str1 = "It's alright"
print(str1)
str2 = """welcome to hyderabad"""
print(str2)
str3 = "The best things in life are free"
print(str3)

python
It's alright
welcome to hyderabad
The best things in life are free

#### String Operations

##### Concatenation
Combining two or more strings

In [8]:
str1 = "follow"
str2 = "me"
result = str1 +" "+str2
print(result)

follow me

In [9]:
str1 = "please"
str2 = "sound"
str3 = "horn"
result = str1+" "+str2+" "+str3
print(result)

please sound horn

##### Repetetion
Repeating a string multiple times

In [11]:
str1 = "welcome to datascience class \n"
result = str1*5
print(result)

welcome to datascience class
welcome to datascience class
welcome to datascience class
welcome to datascience class
welcome to datascience class

##### Indexing
Accessing individual characters in a string

In [13]:
my_string = "python is a versatile, high-level programming language known for its clear and readable syntax, making it ideal for both beginners and experienced developers. It supports multiple programming paradigms, including procedural, object-oriented, and functional programming. With a rich ecosystem of libraries and frameworks, Python excels in fields like web development, data science, machine learning, automation, and more. Its dynamic nature, combined with an active community, ensures Python remains a popular and powerful choice for diverse applications."
print(my_string[21])
print(my_string[47])
print(my_string[105])
print(my_string[129])
print(my_string[201])
print(my_string[249])
print(my_string[311])
print(my_string[395])
print(my_string[409])
print(my_string[418])

,
a

s
,
c
a
n
,
e

##### Slicing
Extracting a substring from a string

In [20]:
my_str = "It supports multiple programming paradigms, including procedural, object-oriented, and functional programming. With a rich ecosystem of libraries and frameworks, Python excels in fields like web development, data science, machine learning, automation, and more"
print(my_str[2:10])
print(my_str[5:30])
print(my_str[20:50])
print(my_str[10:15])
print(my_str[6:10])

 support
pports multiple programmi
 programming paradigms, includ
s mul
port

##### Python formats

###### 1.old style formatting(% operator)

In [22]:
name = "meghana"
balance = 0
formatted_string="hello %s! your balance is %d."%(name,balance)
print(formatted_string)

hello meghana! your balance is 0.

In [23]:
fruit = "mango"
price = 60
formatted_string="my name is %s and my price is %d."%(fruit,price)
print(formatted_string)

my name is mango and my price is 60.

###### 2.Format method()
uses the format() method with placeholders

In [24]:
name = "meghana"
balance = 0
formatted_string="hello {}! your balance is {}.".format(name,balance)
print(formatted_string)

hello meghana! your balance is 0.

In [25]:
fruit = "mango"
price = 60
formatted_string="my name is {} and my price is {}.".format(fruit,price)
print(formatted_string)

my name is mango and my price is 60.

###### 3.String Interpolation
uses f strings where expressions inside curly braces {} are evaluated and replaced.

In [28]:
name = "meghana"
balance = 0
formatted_string=f"hello {name}! your balance is {balance}."
print(formatted_string)

hello meghana! your balance is 0.

In [30]:
fruit = "mango"
price = 60
formatted_string=f"my name is {fruit} and my price is {price}."
print(formatted_string)

my name is mango and my price is 60.

#### String methods

###### 1.len()
The len() function is used to return an integer value which indicates the number of items in an object.

In [6]:
txt = "hello world"
len = 10
print(len)

10

###### 2.Lower case()
The lower() method returns a string where all characters are lower case.
Symbols and Numbers are ignored.

In [48]:
txt = "DATA SCIENCE"
x = txt.lower()
print(x)

data science

###### 3.Upper case()
The upper() method returns a string where all characters are in upper case.

In [50]:
txt = "hello python"
x = txt.upper()
print(x)

HELLO PYTHON

###### 4.strip()
The strip() method removes any leading, and trailing whitespaces.
Leading means at the beginning of the string, trailing means at the end.

In [52]:
txt = "  Hello world ---------------- "
x = txt.strip()
print(x)

Hello world ----------------

###### 5.split()
The split() method splits a string into a list.You can specify the separator, default separator is any whitespace.

In [58]:
txt = "welcome to the park"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'park']

###### 6.join()
The join() method takes all items in an iterable and joins them into one string.
A string must be specified as the separator.

In [60]:
str = "she","is","a","good","girl"
x = " @ ".join(str)
print(x)

she @ is @ a @ good @ girl

###### 7.Capitalize()
The capitalize() method returns a string where the first character is upper case, and the rest is lower case.

In [66]:
txt = "SUNDAY is fun day"
x = txt.capitalize()
print(x)

Sunday is fun day

###### 8.casefold()
The casefold() method returns a string where all the characters are lower case.

In [67]:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

###### 9.center()
The center() method will center align the string, using a specified character (space is default) as the fill character.

In [69]:
txt = "mango"
x = txt.center(30)
print(x)

            mango

###### 10.count()
The count() method returns the number of times a specified value appears in the string

In [71]:
txt = "I hear my voice, my voice is my favourite"
x = txt.count("my")
print(x)

3

###### 11.encode()
The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

In [72]:
txt = "my name is meghana"
x = txt.encode()
print(x)

b'my name is meghana'

###### 12.endswith()
The endswith() method returns True if the string ends with the specified value, otherwise False.

In [77]:
txt = "This is my book."
x = txt.endswith(".")
print(x)
y = txt.endswith(" ")
print(y)

True
False

###### 13.expandtabs()
The expandtabs() method sets the tab size to the specified number of whitespaces.

In [86]:
txt = "M\e\g\ha\na"
x = txt.expandtabs(2)
print(x)

M\e\g\ha
a

###### 14.find()
The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [91]:
txt = "hello world"
x = txt.find("world")
print(x)
y = txt.find("p")
print(y)

6
-1

###### 15.format()
The format() method formats the specified value(s) and insert them inside the string's placeholder.

In [94]:
txt = "For only {price:.2f} ruppees!"
print(txt.format(price = 49))

For only 49.00 ruppees!

###### 16.index()
The index() method finds the first occurrence of the specified value.

In [97]:
txt = "welcome to my world."
x = txt.index("to")
print(x)

8

###### 17.isalnum()
The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

In [101]:
txt = "hello123"
x = txt.isalnum()
print(x)

txt = "hello 123"
y = txt.isalnum()
print(y)

True
False

###### 18.isalpha()
The isalpha() method returns True if all the characters are alphabet letters (a-z).

In [105]:
txt = "hello"
x = txt.isalpha()
print(x)

txt = "hello123"
y = txt.isalpha()
print(y)

True
False

###### 19.isascii()
The isascii() method returns True if all the characters are ascii characters  (a-z).

In [109]:
txt = "hello123"
y = txt.isascii()
print(y)

txt = "hello#$"
x = txt.isalpha()
print(x)

True
False

###### 20.isdecimal()
The isdecimal() method returns True if all the characters are decimals (0-9).

In [112]:
txt = "687847289"
x = txt.isdecimal()
print(x)

txt = "hello"
x = txt.isdecimal()
print(x)

True
False