## set
A set is a collection of unique elements and it is defined by using curlybraces{} and seperated by comma(,)

A set is unordered, unchangeable*, and unindexed.
Sets are used to store multiple items in a single variable.

##### creating a set

In [5]:
set = {'black','yellow','blue'}
print(set)

{'black', 'blue', 'yellow'}

##### Duplicate items

In [6]:
colors = {'black','blue','yellow','orange','violet','blue','orange','blue'}
print(colors)

{'black', 'orange', 'violet', 'blue', 'yellow'}

##### Add and update set

In [11]:
#add
bikes = {'honda','tvs','splendor'}
print('Initial set:',bikes)
bikes.add('unicorn')
print('updated set:',bikes)

Initial set: {'tvs', 'splendor', 'honda'}
updated set: {'tvs', 'splendor', 'honda', 'unicorn'}

In [12]:
#update
courses = {'python','java','os','r'}
more_courses = {'c','c++','ds','r','python','ml'}
update_courses = courses.update(more_courses)
print(courses)

{'python', 'c++', 'java', 'os', 'ml', 'ds', 'c', 'r'}

##### Remove an elemnt from set
we use the discard() method to remove the specified element from a set

In [16]:
courses = {'python','java','os','r'}
removedvalue = courses.discard('python')
print('set after remove():',courses)
removedvalue = courses.remove('r')
print('set after remove():',courses)

set after remove(): {'java', 'os', 'r'}
set after remove(): {'java', 'os'}

##### set operations

###### 1.union of two sets
The union of two sets a and b include all the elements of set a and b.
combines elmentsfrom two sets removing duplicates

In [18]:
a = {1,4,6,9,8,4}
b = {6,8,3,8,9,3,2,}
print('union using |:',a|b)
print('union using union:',a.union(b))

union using |: {1, 2, 3, 4, 6, 8, 9}
union using union: {1, 2, 3, 4, 6, 8, 9}

###### 2.set Intersection
The intersection of two sets a and b include common elements between set a and set b.

In [20]:
a = {1,48,6,98,8,4,93,34}
b = {6,8,34,8,93,3,28,1}
print('intersection using &:',a&b)
print('intersection using intersection:',a.intersection(b))

intersection using &: {1, 34, 6, 8, 93}
intersection using intersection: {1, 34, 6, 8, 93}

###### 3.Difference between two sets
the difference between two sets a and b include elements of set a that are not present in set b

In [21]:
a = {1,48,6,98,8,4,93,34}
b = {6,8,34,8,93,3,28,1}
print('using -:',a-b)
print('using difference:',a.difference(b))

using -: {48, 98, 4}
using difference: {48, 98, 4}

###### 4.set symmetric difference
the symmetric differences between two sets a and b includes all elements of a and b without common elements

In [22]:
a = {1,48,6,98,8,4,93,34}
b = {6,8,34,8,93,3,28,1}
print(' using ^:',a^b)
print(' using symmetric_difference:',a.symmetric_difference(b))

 using ^: {98, 3, 4, 48, 28}
 using symmetric_difference: {98, 3, 4, 48, 28}