### List

Lists are used to store multiple items in a single variable.
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
Lists are created using square brackets

In [2]:
mylist = ["apple", "guava", "mango"]
print(mylist)

['apple', 'guava', 'mango']

Examples of list

In [3]:
list1 = [1,2,3,4,5]
list2 = ["fruits","cars","bikes"]
list3 = [True,True,False]
list4 = [10,100,1000,10000]
list5 = [6.9,8.5,8.9]
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[1, 2, 3, 4, 5]
['fruits', 'cars', 'bikes']
[True, True, False]
[10, 100, 1000, 10000]
[6.9, 8.5, 8.9]

##### Indexing

Indexing refers to the process of accessing a specific element in a sequence, such as a string or list, using its position or index number.
Indexing in Python starts at 0, which means that the first element in a sequence has an index of 0, the second element has an index of 1, and so on.

In [6]:
fruits = ["apple","mango","guava"]
print(fruits.index("mango"))

1

###### Positive Index

In Python, positive zero-based indexing is the fundamental method for accessing iterable items.

As a result, an index starting at 0 may refer to any element in the iterable.

The first element in zero-based indexing has an index of 0, the second has an index of 1, and so on

Examples of positive indexing

In [7]:
mylist = [9,8,7,6,5]
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])

9
8
7
6
5

###### Negative Indexing

Negative indexes start from -1, where -1 represents the last element in the list, -2 represents the second-to-last element, and so forth.

examples of negative indexing

In [8]:
mylist = [1,2,3,4,5]
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])

5
4
3
2
1

###### Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

###### Examples of Slicing

In [9]:
mylist = ["a","b","c","d","e","f","g","h","i","j"]
print(mylist[1:5])
print(mylist[:8])
print(mylist[0:8])
print(mylist[7:])

['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['h', 'i', 'j']

###### Creating a list of 1 to 20 numbers using positive and negative elements

In [12]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(num[0])
print(num[1])
print(num[2])
print(num[3])
print(num[4])
print(num[5])
print(num[6])
print(num[7])
print(num[8])
print(num[9])
print(num[-1])
print(num[-2])
print(num[-3])
print(num[-4])
print(num[-5])
print(num[-6])
print(num[-7])
print(num[-8])
print(num[-9])
print(num[-10])

1
2
3
4
5
6
7
8
9
10
20
19
18
17
16
15
14
13
12
11

##### Concatenation

The '+' operator can be used to concatenate two lists. It appends one list at the end of the other list and results in a new list as output.

In [14]:
a = [1,2,3]
x = [4,5,6]
y = a+x
print(y)

[1, 2, 3, 4, 5, 6]

In [15]:
L1 = ["fruits"]
L2 = ["vegetables"]
L3 = L1+L2
print(L3)

['fruits', 'vegetables']

##### repetetion

Repetetion in python allows you to repeat sequences such asa strings,lists or tuples multiple times

In [17]:
x = [8,9,5]
print(x*3)
y = ["hello"]
print(y*4)

[8, 9, 5, 8, 9, 5, 8, 9, 5]
['hello', 'hello', 'hello', 'hello']

###### Change list items

To change a value of a specific item refers to the index numbers

In [2]:
mylist = ["apple","mango","guava","cherry","kiwi"]
print(mylist)
mylist[2] = "banana"
print(mylist)

['apple', 'mango', 'guava', 'cherry', 'kiwi']
['apple', 'mango', 'banana', 'cherry', 'kiwi']

In [5]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
mylist[1:4] = ["blackberry", "watermelon", "guava"]
print(mylist)

['apple', 'blackberry', 'watermelon', 'guava', 'kiwi', 'mango']

##### List Methods

1.append()

Adds an element to the end of the list

In [6]:
fruits = ["mango","guava","apple"]
fruits.append("banana")
print(fruits)

['mango', 'guava', 'apple', 'banana']

###### 2.Extend()

appends elements from another iterable to the end

In [7]:
colors = ["black","blue","yellow"]
more_colors = ["orange","pink","red","violet"]
colors.extend(more_colors)
print(colors)

['black', 'blue', 'yellow', 'orange', 'pink', 'red', 'violet']

###### 3. Insert()

Insert an element at a specific position

In [10]:
bikes = ["ktm","herohonda","splendor","tvs"]
bikes.insert(2,"yamaha")
print(bikes)

['ktm', 'herohonda', 'yamaha', 'splendor', 'tvs']

###### 4.Remove()

Remove the first occurence of the value

In [11]:
vegetables = ["tomato","onion","green chilli","brinjal","ginger"]
vegetables.remove("green chilli")
print(vegetables)

['tomato', 'onion', 'brinjal', 'ginger']

In [12]:
vegetables = ["tomato","onion","green chilli","onion","ginger","tomato"]
vegetables.remove("onion")
print(vegetables)

['tomato', 'green chilli', 'onion', 'ginger', 'tomato']

###### 5.pop()

removes and returns an element at a specified index

In [14]:
alphabets = ["a","b","c","d","d","e","f","c"]
popped_element = alphabets.pop(3)
print(alphabets)
print(popped_element)

['a', 'b', 'c', 'd', 'e', 'f', 'c']
d

###### 6.Index()

returns the index of the first occurence of a value

In [15]:
dresses = ["western","modern","kurta","tops","jeans"]
index = dresses.index("kurta")
print(index)

2

###### 7.count()

returns the number of occurence of a value

In [17]:
alphabets = ["a","b","c","b","d","e","f","d","b","b","f"]
count = alphabets.count("b")
print(count)

4

###### 8.sort()

sorts the list in ascending order

In [18]:
colors = ["Blue","yellow","BLack","Red","Orange"]
colors.sort()
print(colors)

['BLack', 'Blue', 'Orange', 'Red', 'yellow']

###### 9.reverse()

reverse the order of elements in the list

In [19]:
alphabets = ["e","d","c","b","a"]
alphabets.reverse()
print(alphabets)

['a', 'b', 'c', 'd', 'e']